<!DOCTYPE html >
<!--  Website template by freewebsitetemplates.com  -->
<html>

<head>
	<title>Pet Shop</title>
	<meta  charset=iso-8859-1" />
	{% load static %}
	<link href= "{% static 'appointments/style.css' %}" rel="stylesheet" type="text/css" />
</head>
<body>
			<div id="header">
                    <img src="{% static 'images/logo.png' %}" width="310" height="170" alt="" title="">
                    <form method="POST">
                            {{ form.as_p }}
                            {% csrf_token %}
                            <button type="submit">Login</button>
                        </form>

                        <hr />
                        <a href="/register_admin">Create an account</a>
            </div>
