
    {% load widget_tweaks %}

    <div class="container">

      <h1>Appointments</h1>
      {%if object_pk and object_client %}
        <h2>
        This is the page for the appointment for client {{object_client}}  with provider: {{object_provider}}
        </h2>
      {% else %}
      <h2>List of appointments:</h2>
      {% for client, values in appointment_dict.items %}
        <a href="{% url 'show_appointments' values.pk %}">
            <h3>
                Appointment for client {{client}} with provider: {{values.provider}}
            </h3>

            <!-- <a href="/edit/{{ persona.id }}">Editar</a> -->
            <a href="{% url 'edit' values.pk %}"
            onClick="return confirm('¿Seguro que quieres editar a {{client}}?');">
            Editar></a>
            <a href="{% url 'delete' values.pk %}"
            onClick="return confirm('¿Seguro que quieres borrar a {{client}}?');">
            Borrar></a>



        </a>
      {% endfor %}
      {% endif %}

    </div>
