{% load widget_tweaks %}

    <div class="container">

      <h1>Pets</h1>
      {%if object_pk and object_name %}
        <h2>
        This is the page for {{object_name}} with pk: {{object_pk}}, age: {{object_age}}
        </h2>
      {% else %}
      <h2>List of Pet Objects:</h2>
      {% for name, values in pet_dict.items %}
        <a href="{% url 'show' values.pk %}">
            <h3>
                {{name}} with pk: {{values.pk}}, age: {{values.age}}
            </h3>
        </a>
      {% endfor %}
      {% endif %}

    </div>
